h1{
    color: red;
    font-size: large;
    text-align: center;
}
.brand{
    float: left;
}
.menu{
    padding: 26px;
    text-align: center;
}
button
.brand{
    background-color: purple;
    text-align: center;
    padding-right: 80px;
    padding-bottom: 40px;
    margin-top: 30px;
    margin-left: 60px;
}   

#logo{

}
h1{}
.brand .logo h1{
  font-size:20px;
}
   